<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atux.service.qryMapper.LocalQryMapper">

    <select id="findList"
            parameterType="com.atux.bean.precios.LocalFlt"
            resultType="com.atux.bean.precios.Local"
            >
        SELECT
            CO_COMPANIA coCompania,
            CO_LOCAL coLocal,
            DE_LOCAL deLocal,
            DE_DIRECCION_LOCAL direccion
        FROM VTTM_LOCAL
        <where >
            1 = 1
            <if test="localId.coCompania!=null and localId.coCompania!=''">
                AND CO_COMPANIA=  #{localId.coCompania}
            </if>
            <if test="buscar!=null and buscar!=''">
                AND ( CO_LOCAL = #{buscar}  or  DE_LOCAL like  UPPER(#{buscar}) )
            </if>
            <if test="tiLocal!=null and tiLocal!=''">
                AND TI_LOCAL = #{tiLocal}
            </if>
       </where>
        order by 2
    </select>

</mapper>